// External libraries
@import "bootstrap/scss/bootstrap";
// @import "font-awesome-sprockets";
// @import "font-awesome";
// @import "mapbox-gl/dist/mapbox-gl";

// Components CSS partials
@import "components/navbar";
@import "components/avatar";
@import "components/card";

// Pages CSS partials
@import "pages/flat_form";
@import "pages/flat_show";

// Global CSS partials
@import "global/shadow";
@import "global/round";

// Global style
a {
  color: initial;
  text-decoration: none;
  &:hover {
    color: goldenrod;
  }
}
